* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button#refreshButton {
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    text-align: center;
}

#lastUpdate {
    display: flex;
    align-items: center;
    color: #ccc;
}

#searchBar {
    text-align: center;
    margin: 20px 0;
}

input#searchInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

#flightList {
    width: 100%;
    border-collapse: collapse;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flightList th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}

#flightList td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}

.flightStatus1 {
    color: #FFFFFF; /* Arrived */
}

.flightStatus2 {
    color: #FFFFFF; /* Departing */
}

.flightStatus3 {
    color: #FF0000; /* Delayed */
}

.flightStatus4 {
    color: #98352A; /* Cancelled */
}

.flightStatus5 {
    color: #87CEEB; /* In Air */
}
.flightStatus6 {
    color: #FFFFFF; /* Stationary */
}
