<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/se_project/static/style2.css">
    <title>Flight Information</title>
</head>
<body>
    <header>
	<nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="weather.html">Weather</a></li>
                <li><a href="language.html">Language</a></li>
            </ul>
        </nav>
        <section id="lastUpdate">
            <p>Last Updated: <span id="lastUpdateTime">[Timestamp]</span></p>
            <button id="refreshButton">&#10227;</button>
        </section>
    </header>
    <section id="searchBar">
        <input type="text" id="searchInput" placeholder="Search by Flight Number, Country, or City">
    </section>
    <table id="flightList">
        <tr class="flightRow flightTitle">
            <th class="flightData">Time</th>
            <th class="flightData">Actual Time</th>
            <th class="flightData">Flight Number</th>
	    <th class="flightData">Type</th>
            <th class="flightData">Country</th>
            <th class="flightData">City</th>
            <th class="flightData">Status</th>
        </tr>
        <tr class="flightRow">
            <td class="flightData">12:30</td>
            <td class="flightData">12:35</td>
            <td class="flightData">ABC123</td>
	    <td class="flightData">Arrival</td>
            <td class="flightData">USA</td>
            <td class="flightData">New York</td>
            <td class="flightData">Arrived</td>
        </tr>
        <tr class="flightRow">
            <td class="flightData">13:00</td>
            <td class="flightData">13:05</td>
            <td class="flightData">XYZ789</td>
            <td class="flightData">Departure</td>
            <td class="flightData">Canada</td>
            <td class="flightData">Toronto</td>
            <td class="flightData">Departing</td>
        </tr>
    </table>
    <script src="script2.js"></script>
</body>
</html>
